file:lib/rustlib/wasm32-unknown-unknown/lib/libproc_macro-c2f1dde405237910.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libbacktrace_sys-b31a237b884542fb.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libbacktrace-372a268696b9cc5b.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/librustc_demangle-a22152a68a4c1806.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libtest-8daa5291e2fcc427.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libpanic_unwind-a560bc51942add1e.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/liblibc-db3306f467412913.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/librustc_std_workspace_core-b50ae3e1cc06c201.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/librustc_std_workspace_alloc-0fe91d8ec108e6e2.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libhashbrown-58d23605d0d5de33.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libterm-cefd503427c5d4ac.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libunwind-a7a6ecf939ca4bfa.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libdlmalloc-6b294adc19156ae8.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libstd-0e15d81285ef9c5e.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/librustc_std_workspace_std-3bde6e4e7ae36eb6.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libpanic_abort-34947b3cc643563f.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libgetopts-c12c6ec8c9b9e40a.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libcompiler_builtins-618bea36272ab7ec.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libcore-56084c30744b3d96.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libcfg_if-97056b9676d330ba.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/liballoc-29d36a52659bbac5.rlib
file:lib/rustlib/wasm32-unknown-unknown/lib/libunicode_width-7266944fb0097d48.rlib
