[Unit]
Description=zkSync prover
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/zksync/bin/
ExecStart=/bin/bash --login -c 'source /home/ec2-user/.bashrc; zksync dummy-prover'
ExecStop=/bin/bash --login -c 'source /home/ec2-user/.bashrc; /usr/bin/pkill -u ec2-user -f dummy'
KillMode=process
RestartSec=3000
#ExecReload=/usr/bin/kill -s HUP $MAINPID
#ExecStop=/usr/bin/kill -- $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
